NEXT_PUBLIC_SITE_URL="http://localhost:3001"

# External URLs for production
NEXT_PUBLIC_VENDOR_DASHBOARD_URL="https://print-rocket-web-nextjs-aikg.vercel.app/"
NEXT_PUBLIC_ADMIN_DASHBOARD_BASE_URL="https://print-rocket-admin-panel-2446.vercel.app/"
NEXT_PUBLIC_ADMIN_SIGNUP_KEY_PATH="/$2b$10$M0mdRRBS4YUlMcjPQKYL3O/bhHKTfJIDQTKuvvor532NX2mUYWqZm"

# APK path served by this landing app
NEXT_PUBLIC_APK_PUBLIC_PATH="/public/apk/printrocket-fe.apk"

